<form method="post" action="/recipes/:id">
  
  <input type="text" name="name" placeholder="name">
	<input type="text" name="password" placeholder="Password:">
	<input type="submit" value="Sign Up">
  
</form>